<table>
    <tr>
        <td class="column1">
            <a href="<%-company_url%>" title="<%-bname%>" class="round tick"><img src="<%-logo%>" width="146" height="73" alt="<%-bname%>"></a>
        </td>
        <td class="column2">
            <h5><a href="<%-company_url%>" title="<%-bname%>"><%-bnamecut%></a></h5>
            <p><%-kind_of_activity%></p>
        </td>
        <td class="column3">
            <div class="hover-box">
                <a class="button action accept-req" id="acc_<%=rek_id%>">Добавить в контрагенты</a>
                <a class="button simple cancel-req" id="cancel_<%=rek_id%>">Отклонить</a>

                <span class="block-revive">Заявка отклонена. <a class="revive">Отменить</a></span>
                <span class="block-accept-msg">Контрагент добавлен.</span>
            </div>
        </td>
    </tr>
</table>


