{% extends "base.html" %}

{% block extra_head %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="/media/css/rek_static.css"/>
    <link rel="stylesheet" type="text/css" href="/media/css/password_reset.css"/>
{% endblock %}

{% block title %}Восстановление пароля - Rekvizitka.Ru{% endblock %}

{% block content %}
<div class="width_limiter">
<h1>Восстановление пароля</h1>
{% if not success %}
<p class="description"> Введите свой адрес электронной почты для восстановления пароля.</p>
<div id="password_reset">

    <form action="" method="POST">
    {% csrf_token %}
                <div class="input_nice {% if form.email.errors %}error{% else %}ok{% endif %}">
                    <input class="nice" name="email" id="id_email" title="Ваш e-mail" value="{% if form.email.value %}{{ form.email.value }}{% endif %}"/>
                </div>

                <div class="error_message reset_email">
                    {% if form.email.errors %}{{ form.email.errors }}{% endif %}
                </div>

                <div class="controls">
                    <div class="button" onclick="$(this).parent().parent().trigger('submit')">&nbsp;</div>
                </div>
    <div class="password_control"></div>
</form>
</div>
    
<script type="text/javascript">

    function PassResetFormUpdate(){
    $('#password_reset div.input_nice.ok .image1').hide();
    $('#password_reset div.input_nice.ok .image0').show();
    $('#password_reset div.input_nice.error .image0').hide();
    $('#password_reset div.input_nice.error .image1').show();

    if($('#password_reset #id_email').val() == '' ){$('#password_reset #id_email').val($('#password_reset #id_email').attr('title')).addClass('hint');}
    }


        $(document).ready(function(){
            $('#password_reset').borderImage('url("/media/img/rek_content_bi.png") 4');

            $('#password_reset form').submit(function() {


                $('#password_reset #id_email').closest('.input_nice').removeClass('error').addClass('ok');
                if($('#password_reset #id_email').val() == $('#password_reset #id_email').attr('title')){$('#password_reset #id_email').val('').removeClass('hint');}
                if($('#password_reset #id_email').val() != '' ){$('#password_reset #id_email').removeClass('hint');}

                var mymail = $('#password_reset #id_email').val().replace(/^\s+|\s+$/g, '');

                var errors = 0;

                if (mymail) {
                    myresult = (/^([a-z0-9_\-]+\.)*[a-z0-9_\-]+@([a-z0-9][a-z0-9\-]*[a-z0-9]\.)+[a-z]{2,4}$/i).test(mymail);
                    if (myresult != true) {
                        $('#password_reset div.error_message.reset_email').text("Неверный e-mail");
                        $('#password_reset #id_email').closest('.input_nice').removeClass('ok').addClass('error');
                        errors++;
                    }
                } else {
                    $('#password_reset div.error_message.reset_email').text("Введите e-mail для восстановления пароля");
                    $('#password_reset #id_email').closest('.input_nice').removeClass('ok').addClass('error');
                    errors++;
                }

                if (errors > 0) {
                    PassResetFormUpdate();
                    return false;
                }
            });
        });
</script>
    <!--[if lt IE 9]>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#password_reset div.input_nice').borderImage('url("/media/img/top_form/top_input.png") 9', '/media/img/input_bg_img_error.png');
        });

        setTimeout(function(){
            PassResetFormUpdate();
            }, 1);
    </script>
    <![endif]-->
{% else %}
<p class="description"> Пароль для доступа к вашему аккаунту выслан на указанный вами адрес {% if email %}<b>{{ email }}</b>{% endif %}.</p>
{% endif %}
</div>
{% endblock %}
