<p>Верификация&nbsp;—&nbsp;это процедура подтверждения того, что ваша компания на&nbsp;самом деле соответствует своему описанию.
    До&nbsp;тех пор, пока верификация не&nbsp;завершена, профиль вашей компании не&nbsp;виден никому кроме вас.
    Единственная цель верификации&nbsp;— предотвращение массового некорректного поведения участников, например спама.</p>
<hr/>

<h3>Cпособ 1</h3>

<p>Вы можете пройти процедуру верификации, если пополните депозит на 1000 рублей. Для этого вам будет выставлен счет
    и после поступления денег процедура верификации будет завершена, а ваш депозит пополнится на 1000 рублей.
    Даже если вам уже выставили счет, вы можете воспользоваться другим способом верификации.
    В этом случае счет оплачивать не обязательно.</p>

<div id="invoice_view"></div>
<hr/>

<h3>Cпособ 2</h3>

<p>Вы можете пройти процедуру верификации, если <%=verify_rec_number%> <%=vrn_companies%> <%=vrn_will_give%> вам свои рекомендации. Мы советуем делать запросы на рекомендацию только тем компаниям, с которыми вы уже работаете, или тем людям, которых знаете лично.</p>
<p><a href="/search/?q=">Перейти к поиску компаний</a> и запросить рекомендации.</p>
<p>Также вы можете попросить рекомендацию у компании <a href="/2A82/">Реквизитка</a>. Для этого необходимо, чтобы в профиле вашей компании были максимально заполнены описание деятельности, контактная и юридическая информация, загружен логотип.</p>

<% if (not_sent) { %>
    <p>Вы еще не отправили запрос о верификации ни одной компании.</p>
<% } else { if (sent_not_accepted_list.length) { %>

<p>Вы уже отправили запросы следующим компаниям: <%=sent_not_accepted_list%>.</p>
    <% } if (sent_accepted_list === '') { %>
        <p>Вам еще не дали верификацию.</p>
    <% } else { %>
        <p>Вам уже дали рекомендацию следующие компании: <%=sent_accepted_list%>.</p>
    <% } %>
<% } %>
