#change-password {
    padding: 20px 10px 50px;
    position: relative;
}

#change-password dt {
    width: 140px;
}

#change-password dd {
    position: relative;
    margin-bottom: 0;
}

#change-password dd input {
    width: 345px;
    margin: 0 0 10px;
}

#change-password dd input.error {
    margin: 0 0 2px;
}

#change-password dd div.error {
    margin: 0 0 10px 112px;
    width: 345px;
}

#change-password dd a.forgot-password {
    position: absolute;
    top: 7px;
    left: 500px;
}

#change-password .save {
    margin: 0 15px 0 153px;
}