{% extends "base_portal.html" %}
{% load js_utils portal %}

{% block doc_end %}
    <script type="text/javascript">
        YUI.add('main_portal__init', function(Y,result) {
            Y.Feedback_init = {{ feedback_module_init }};

            Y.MainPortal__init = {
                mainPortlet : "{% client_mod_ver "feedback_application" %}",
                mainPortletClass : "FeedbackApplication"
            };
        });

    </script>

	{% block preload_app %}{% endblock %}

	{{ block.super }}

{% endblock %}

{% block extra_head %}{{ block.super }}

{% endblock %}