<p>Пригласите в Реквизитку ваших деловых партнеров. Также стоит позвать ваших знакомых, если они принимают решения в
    компании, где работают. Ваше приглашение будет автоматически означать и рекомендацию от вас.</p>
<p><em>Внимание! Акция!
    За каждую компанию, зарегистрированную по вашему приглашению, вы получаете на депозит 500 рублей.
    Зачисление средств происходит после того, как новая компания пройдет процедуру Верификации.</em></p>
<hr>

<h4>Пригласить новую компанию</h4>

<div class="row">
    <label for="input-email">E-mail</label>
    <input type="text" id="input-email">
</div>

<div class="row">
    <label for="textarea-message">Сообщение</label>
    <textarea id="textarea-message"></textarea>
</div>

<p class="overflow-hidden"><a class="button action invite" href="" title="">Пригласить</a></p>

<%=sentList%>
<%=registeredList%>