<hr/>

<div class="edit-mode office">
	<h3>Офис <a href="#" title="" class="remove">Удалить</a></h3>

	<p>Название офиса, подразделения</p>

	<input type="text" class="nameOffice" value="<%-city%>" />

	<p>Контактная информация</p>

	<textarea class="taOffice"><%-information%></textarea>

	<p>Карта, схема проезда</p>

	<p><img class="office-map" src="<%-img_src%>" alt="" width="<%-img_width%>" height="<%-img_height%>" /></p>

	<p><div class="file-uploader"><a class="button simple">Выбрать файл</a></div></p>
</div>
