<h1>Здравствуйте!</h1>

<p>{{ date }} для вашей Компании был выставлен счет от компании Реквизитка (ООО ”РЕК1.РУ”) http://rekvizitka.ru номер {{ number }} на сумму {{ amount }} руб.</p>

<p>Срок действия данного счета закончился.</p>

<p>Если вы уже оплатили данный счет, то переведенные средства будут зачислены на депозит вашей Компании в Реквизитке в ближайшее время.</p>
<p>Если вы не оплачивали данный счет, то вы можете либо ничего не предпринимать, либо получить новый счет.</p>

<p style="margin-top: 20px">С уважением, команда Реквизитки</p>
