<table>
    <tr>
        <td class="column1">
            <a class="round" href="/<%-rek_id%>/profile/" title="<%-brand_name%>"><img src="<%-logo%>" width="74"
                                                                                       height="37"
                                                                                       alt="<%-brand_name%>"></a>
        </td>
        <td class="column2">
            <h5 class="header"><a href="/<%-rek_id%>/profile/" title="<%-brand_name%>"><%-brand_name%></a></h5>

            <p><%-kind_of_activity%></p>
        </td>
        <td class="column3">
            <div class="exp-details closed">
                <p class="message"><%-msg%></p>

                <p class="view-profile"><a href="/<%-rek_id%>/profile/" title="<%-brand_name%>">Посмотреть профиль компании</a></p>

                <a href="/recommendations/accept/<%-request_id%>/" title="" class="button action accept">Рекомендовать</a>
                <a href="/recommendations/decline/<%-request_id%>/" title="" class="button simple decline">Отказать</a>
                <a class="arrow"><br></a>
            </div>
        </td>
    </tr>
</table>

<hr/>

