
<p>Скоро здесь появятся настройки профиля вашей компании.</p>

<!--dl>
	<dt>Наименование компании</dt>
	<dd><input type="text" value="<%-brandName%>" id="brandName"></dd>

	<dt>Сфера деятельности</dt>
	<dd><input type="text" value="<%-categoryText%>" id="categoryText"></dd>

	<dt>Логотип</dt>
	<dd id="logo">
		<img src="/grid/profile/<%-rekid%>/logo.jpg" alt="" width="186" height="96" />

		<div class="button-set">

			<div id="file-uploader"><div class="choose-file"></div><a href="" title="" class="button simple">Выбрать файл</a></div>

			<div id="file-remover"><div class="choose-file"></div><a href="" title="" class="button simple remove-file">Удалить</a></div>
		</div>
	</dd>

	<dt>E-mail</dt>
	<dd><input type="text" value="<%-email%>" id="email"></dd>

</dl>

<!--hr/>

<dl>
	<dt>Пароль</dt>
	<dd><input type="text" id="password"></dd>
</dl>

<div class="button-set">
	<a href="" class="button green save">Сохранить</a>
</div

=========================================

<div class="edit-mode">
<dl>
<dt>Часовой пояс</dt>
    <dd><div class="select-envp">
            <select id="mainsettzone">
                <% for (i in timezone_select){ %>
                <option <% if(user_timezone == i){ %> selected <% } %> value="<%= timezone_select[i][0] %>"><%= timezone_select[i][1] %></option>
                <% } %>
            </select>
        </div>
    </dd>
</dl>
    <div class="button-set" id="settings-btns"><a href="" class="button green save">Сохранить</a></div>
</div>
-->
