<table class="grid">
    <tr>
        <td class="column1">
            <a href="<%=employee_url%>" title="<%-bname%>"><img src="<%=logo_url%>" width="31" height="31" alt="<%-bname%>"/></a>
        </td>
        <td class="column2">
            <h3><a href="<%=employee_url%>" title="<%-fullname%>"><%-fullnamecut%></a></h3>
            <p><%=messagetext%></p>
        </td>
        <td class="columnright">
            <small class="date"><%-msgdate%><br/><%-msgtime%></small>
        </td>
    </tr>
</table>
