<label class="message_checkbox">
		<input type="checkbox" value="" class="message_checkbox_input">
</label>

<div class="important <%=important%>"></div>
<div class="official <%=official%>"></div>

<span class="message_date" title="<%=message_date_text%>"><%=sentDate%></span>
<span class="message_left_tail">
		<a href="<%=id%>" class="message_link">
			<span class="message_from">
                <span class="message_from_text" title="<%=from_company%>"><%=from_company%></span>
			</span>
			<span class="message_subject" title="<%=subject%>"><%=subject%></span>
			<span class="message_first_line" title="<%=first_line%>"><%=first_line%></span>
		</a>
</span>