<h1>Здравствуйте!</h1>

<p>Новая компания {{ company_name }} просит, чтобы вы рекомендовали её.</p>
<p>Давать рекомендацию разумно только в том случае, если вы хорошо знаете эту компанию и ее представителя.</p>
<p>Вы должны быть уверены, что новый пользователь будет вести себя в соответствии со всеми правилами, принятыми в сети.</p>

<p style="padding-top: 20px">Далее следует текст сопроводительного письма пользователя.</p>
<p style="padding: 10px 0">{{ text }}</p>

<p>Просмотреть рекоменадции вашей компании можно по <a href="{{ our_recommendations_url }}" title="Наши рекомендации">ссылке</a></p>

<p style="padding-top: 50px">С уважением, команда &quot;Реквизитки&quot;</p>