<h1>Здравствуйте!</h1>

<p>Вы зарегистрировались в деловой сети Реквизитка.</p>

<dl>
<dt>Ваш логин:</dt><dd>{{ email }}</dd>
</dl>

<p>Для завершения регистрации, пожалуйста, перейдите по ссылке <a href="http://{{ SITE_DOMAIN_NAME }}{{ activation_url }}">http://{{ SITE_DOMAIN_NAME }}{{ activation_url }}</a>.</p>

<p>Рекомендуем заполнить профиль компании и контакты. После этого для полноценного общения в сети необходимо пройти
 <a href="http://{{ SITE_DOMAIN_NAME }}/verification">верификацию</a>.</p>

<p>С уважением, команда Реквизитки</p>
