<h1>Здравствуйте!</h1>

<p>Поступили денежные средства по счету № {{ bill_number }} от {{ bill_date }}.</p>
<p>Поздравляем, ваша компания <a href="http://rekvizitka.ru/{{ company.code_view }}" title="{{ company.get_name }}">{{ company.get_name }}</a> успешно верифицирована в деловой сети <a href="http://rekvizitka.ru">Rekvizitka.Ru</a>.</p>


<p style="padding-top: 50px">Желаем удачи, надеемся, что наш сервис принесет пользу вашей компании.</p>
<p>С уважением, команда &quot;Реквизитки&quot;</p>