<!DOCTYPE html>
<html lang="ru">
<head>
    <link href="/media/img/icons/favicon.ico?v=2" rel="shortcut icon" />

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <title>{% block title %}Административный интерфейс - Реквизитка{% endblock %}</title>

    <link href="/media/style/ad/base.css?v=10000" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="/media/js/ad/base.js?v=10000"></script>

    {% block extra_head %}{% endblock %}
</head>

<body>
{% block content %}{% endblock %}
</body>
</html>