<div id="change-password">
    <dl>
        <dt><%-loc_current_password%></dt>
        <dd><input type="password" id="old" value="" />
            <div class="error"></div>
            <!-- <a href="/forgot-password/" class="forgot-password"><%-loc_forgot_password%></a>-->
        </dd>

        <dt><%-loc_new_password%></dt>
        <dd><input type="password" id="new" value="" />
            <div class="error"></div>
        </dd>

        <dt><%-loc_new_confirm%></dt>
        <dd><input type="password" id="new2" value="" />
            <div class="error"></div>
        </dd>
    </dl>
    <a href="#" class="button action save"><%-loc_button_save%></a>

</div>