<!DOCTYPE html>
<html lang="ru">
<head>
    <title>{% block title %}Реквизитка{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>

    <link href="/media/favicon.ico" rel="shortcut icon"/>

    <link href="/dmedia/css/base.css?v=3" rel="stylesheet"/>

    <script src="/dmedia/js/base.js?v=3"></script>

    {% block extra_head %}{% endblock %}

    <link href="/dmedia/css/homepage.css" rel="stylesheet"/>

    <link href="/media/css/opera.css" rel="stylesheet" />

    <!--[if IE]>
    <link href="/media/css/ie.css" rel="stylesheet"/>
	<script src="/media/js/jquery.placeholder.min.js"></script>
	<script src="/media/js/jquery.textshadow.min.js"></script>
	<script src="/media/js/ie.js"></script>
    <![endif]-->

    <!--[if IE 8]>
	<link href="/media/css/ie8.css" rel="stylesheet" />
	<script src="/media/js/ie8.js"></script>
	<script src="/media/js/html5.js"></script>
    <![endif]-->

    <!--[if IE 9]>
	<link href="/media/css/ie9.css" rel="stylesheet" />
    <![endif]-->

</head>

<body id="homepage"
      class="{% if page_status == 'wrong_email' or page_status == 'wrong_password' %}error-page{% endif %} beforelogin">
{% if production and not skip_metrika %}
    <!-- Yandex.Metrika counter -->
    <div style="display:none;">
        <script type="text/javascript">
            (function (w, c) {
                (w[c] = w[c] || []).push(function () {
                    try {
                        w.yaCounter11067217 = new Ya.Metrika({id:11067217, enableAll:true});
                    }
                    catch (e) {
                    }
                });
            })(window, "yandex_metrika_callbacks");
        </script>
    </div>
    <script src="//mc.yandex.ru/metrika/watch.js" type="text/javascript" defer="defer"></script>
    <noscript>
        <div><img src="//mc.yandex.ru/watch/11067217" style="position:absolute; left:-9999px;" alt=""/></div>
    </noscript>
    <!-- /Yandex.Metrika counter -->
{% endif %}

<div class="wrap">

<div class="layout no-right-sidebar no-left-sidebar">
    <div class="layout-container">
        <div class="layout-container-c-s">
            <div class="layout-container-c">
                <div class="layout-content">
                    <div id="content">

                        {% if page_status == 'registered' %}

                            <table>
                                <tr>
                                    <td class='column1'>
                                        <div class="panel system-msg">
                                            На адрес вашей электронной почты отправлено письмо со ссылкой для
                                            подтверждения регистрации.
                                        </div>
                                    </td>
                                </tr>
                            </table>

                        {% endif %}

                        {% if page_status == 'user_not_activated' %}
                            <table>
                                <tr>
                                    <td class='column1'>
                                        <div class="panel system-msg">
                                            <p>Учетная запись не активирована.

                                            <p>На адрес вашей электронной почты было отправлено письмо со ссылкой для
                                                подтверждения регистрации.
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        {% endif %}

                        {% if page_status == 'account_activated' %}
                            <table>
                                <tr>
                                    <td class='column1'>
                                        <div class="panel system-msg">
                                            <p>Аккаунт Вашей компании успешно активирован.<br>
                                            <a href="http://{{ SITE_DOMAIN_NAME }}">Войти на сайт</a>
                                            </p>
                                        </div>
                                    </td>
                                </tr>
                            </table>



                        {% endif %}

                        {% if page_status == 'user_blocked' %}
                            <table>
                                <tr>
                                    <td class='column1'>
                                        <div class="panel system-msg">
                                            Учетная запись заблокирована.
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        {% endif %}

                        {% if page_status == 'wrong_email' or page_status == 'wrong_password' %}

                            <table class="margin-extra-login">
                                <tr>
                                    <td class='column1'>
                                        <div class="panel extra-login">

                                            <form class="reg-form" action="/" method="post">{% csrf_token %}
                                                <div class="error-msg">Неверный адрес электронной<br/>почты или
                                                    пароль
                                                </div>

                                                <h1>Вход</h1>
                                                <label for="username">Адрес электронной почты</label>
                                                <input type='text' class="text" name="username" id="username"
                                                       value="{{ username }}"/>

                                                <label>Пароль</label>

                                                <div class="float-right">
                                                    <a href="/password-recovery/" title="">Забыли пароль?</a>
                                                </div>
                                                <input type='password' class="password" name="password" id="password">

                                                <input type='checkbox' class="checkbox" id="publicpc" name="publicpc">

                                                <label class="checkbox" for="publicpc"><span></span>Чужой компьютер</label>

                                                <input name="login" type="hidden">

                                                <a class="submit button action">Войти</a>

                                            </form>
                                        </div>

                                        <a href="/" title="" class="need-registration">Еще не зарегистрированы?</a>

                                    </td>
                                </tr>
                            </table>
                        {% endif %}

                        {% if not page_status or page_status == 'user_creating_error' or page_status == 'unknown_error' %}

                            <table>
                                <tr>
                                    <td colspan="2" class="intro-text">
                                        Деловая сеть для вашего бизнеса
                                    </td>
                                </tr>
                                <tr>
                                    <td class='column1'>
                                        <ul>
                                            <li>Общайтесь со своими партнерами</li>
                                            <li>Налаживайте новые деловые контакты</li>
                                            <li>Публикуйте новости вашей компании</li>
                                            <li class="last">Создавайте и участвуйте в отраслевых сообществах, биржах и
                                                конференциях
                                            </li>
                                        </ul>
                                        <h3 style="font-size:16px;color:#8FB35B;line-height:1.3em;position:absolute; top: 480px; left:71px;">
                                            * Сервис находится в тестовом режиме.<br>Некоторые функции могут быть пока недоступны.</h3>
                                    </td>
                                    <td class='column2'>

                                        <div class="panel">
                                            <form action="/" method="post" class="reg-form">{% csrf_token %}
                                                {% if not page_status or page_status == 'unknown_error' or page_status == '' %}
                                                    <div class="error-msg">Операция не удалась.<br/>Попробуйте
                                                        повторить позже.
                                                    </div>
                                                {% endif %}

                                                <h1>Регистрация компании</h1>

                                                <label for="brand_name">Название компании</label><span
                                                        class="tiptip help icon"
                                                        title="Укажите торговое наименование<br> компании (бренд). В дальнейшем<br> его можно изменить"></span>
                                                <input type='text'
                                                       class="text {% if brand_name_error %}error{% endif %}"
                                                       name="brand_name" id="brand_name" value="{{ brand_name }}"/>

                                                <div class="error">{{ brandname_error_str }}</div>

                                                <label for="email">Адрес электронной почты</label><span
                                                        class="tiptip help icon"
                                                        title="Ваш email"></span>
                                                <input type='text' class="text {% if email_error %}error{% endif %}"
                                                       name="email" id="email" value="{{ email }}"
                                                       autocomplete="off"/>

                                                <div class="error">{{ email_error_str }}</div>

                                                <label for="password">Пароль</label><span class="tiptip help icon"
                                                                                          title="Придумайте себе пароль"></span>
                                                <input type='password'
                                                       class="password {% if password_error %}error{% endif %}"
                                                       name="password" id="password" autocomplete="off"/>

                                                <div class="error">{{ password_error_str }}</div>

                                                <a class='submit button action'>Зарегистрировать</a>
                                                <input type='hidden' value='' name='join' />

                                            </form>
                                        </div>


                                    </td>
                                </tr>
                            </table>
                            <style>
                                a.registration-link {
                                    display: none;
                                }
                            </style>
                        {% endif %}


                    </div>
                </div>
                <!--/layout-content-->
            </div>
            <div class="layout-sidebar"><!--right layout-sidebar-->
                <div id="right-sidebar">
                </div>
            </div>
            <!--/right layout-sidebar-->
        </div>
    </div>
    <div class="layout-sidebar"><!--left layout-sidebar-->
        <div id="left-sidebar">
        </div>
    </div>
    <!--/left layout-sidebar-->
</div>
<!--/layout-->

<footer>
    <hr/>
    <table>
        <tr>
            <td>
                Реквизитка &copy; 2011&nbsp;&mdash;&nbsp;2012
            </td>
            <td class="width100">
            </td>
            <td>
                <a href="/feedback/" title="">Обратная связь</a>
            </td>
            <!--<td>
                <a href="" title="">Оферта</a>
            </td>-->
        </tr>
    </table>
</footer>

</div>
<!--/wrap-->

<header>
    <div class="part-static">
        <div class="brackets">
            <table>
                <tr>
                    <td class="logo">
                        <a href="http://{{ SITE_DOMAIN_NAME }}" title="http://{{ SITE_DOMAIN_NAME }}"><img
                                src="/media/i/rekvizitka_logo.png" alt="Реквизитка" width="136" height="24"/></a>
                    </td>
                    <td class="search-box">
                        <form action="/search/">
                            <input type="text"
                                   class="text"
                                   placeholder="Поиск"
                                   name="q"
                                   onkeyup="if(this.value.length){this.style.color='#000';}else{this.style.color='#9e9e9e';}"/>
                            <input type="submit" class="loupebutton" value="" name="lb"/>
                        </form>
                    </td>
                    <td class="sub-menu-item"><a href="/search/?q=" title="">Компании</a></td>
                    <!--	<td class="sub-menu-item"><a href="" title="">Сообщества</a></td>
                 <td class="sub-menu-item"><a href="" title="">Тендеры</a></td>-->
                </tr>
            </table>
        </div>
    </div>

    <div class="part-dynamic">
        <div class="brackets">
            <div class="logged-out">
                <form action='/' method='post' class="login-form">{% csrf_token %}
                    {% load bases_tags %}{% logged_out %}
                    <input type='hidden' value='login' name='login' />
                </form>
            </div>
        </div>
    </div>

    <br class="clear"/>
</header>

<script>
    $(document).ready(function () {
        if($.browser.webkit){
            $('header input[placeholder]').each(function(){
                var placeholder = $(this).attr('placeholder');

                $(this).focus(function(){
                    $(this).attr('placeholder','');
                }).blur(function(){
                            $(this).attr('placeholder',placeholder);
                        })
            });
        }

        $('.tiptip').tipTip({
            defaultPosition:'right',
            edgeOffset:0,
            fadeIn:200,
            maxWidth:'auto'
        });


        var form = $('form.reg-form');

        $('.password', form).keypress(function(e){
            var code = e.keyCode || e.which;
            if (code === 13) {
                $('.submit',form).click();
                return false;
            }
        });


        {% if page_status == "user_creating_error" %}
            form.find('.error-msg').fadeIn('fast');
        {% else %}

        $('.submit', form).click(function(){
            var email = /^[a-zA-Z0-9._\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,4}$/,
            fields, flag = 0;

            if($('div.panel').hasClass('extra-login')){
                fields = {
                    'email' : $('#username'),
                    'password' : $('#password')
                }
            }else{
                fields = {
                    'brand_name' : $('#brand_name'),
                    'email' : $('#email'),
                    'password' : $('#password')
                }
            }

            form.find('input.error').removeClass('error');

            for(var key in fields){
                if(!fields[key].val().length){
                    flag=-~flag;
                    fields[key].addClass('error').after($('<div/>', {
                        'class':'error',
                        'text':'Это поле не может быть пустым'
                    }));
                }
            }

            if (fields.password.val().length < 6 && fields.password.val().length > 0) {
                fields.password.addClass('error').after($('<div/>', {
                    'class':'error',
                    'text':'Слишком короткий пароль'
                }));
                flag=-~flag;
            }

            if (fields.email.val().length > 255) {
                fields.email.addClass('error').after($('<div/>', {
                    'class':'error',
                    'text':'Превышено допустимое количество символов'
                }));
                flag=-~flag;
            }else if(!email.test(fields.email.val()) && fields.email.val().length > 0){
                fields.email.addClass('error').after($('<div/>', {
                    'class':'error',
                    'text':'Некорректный формат адреса электронной почты'
                }));
                flag=-~flag;
            }

            if (flag){
                $('input[type="password"]',form).val('');
                return false
            }else{
                form.submit();
            }
        });

        {% endif %}

    });
</script>

</body>
</html>