{% extends "base_centered.html" %}

{% block message_controls %}
{#    <style>#}
{#        .layout.no-right-sidebar.no-left-sidebar .layout-container .layout-container-c-s .layout-content {#}
{#            margin-right: 0;#}
{#        }#}
{#    </style>#}

    {% if user_not_found %}
        <div class="panel system-msg">
            <p class="text-center">Пользователь с таким адресом электронной<br>почты не найден.</p>
        </div>
        <style>
            .beforelogin #content td.column1 {
                width: 410px;
            }
        </style>
    {% else %}
        {% if email %}
            <div class="panel system-msg">
                <p class="text-center">На адрес вашей электронной почты отправлено письмо со ссылкой для восстановления
                    пароля.</p>
            </div>
        {% else %}
            <div class="panel recovery">
                <form action="" method="POST" class="reg-form" >
                    {% csrf_token %}
                    <h1>Восстановление пароля</h1>
                    <label for="recovery_email">Адрес электронной почты</label>
                    <input type="text" name="email" id="recovery_email">
                    <input type="hidden" name="recovery">
                    <a class="submit button action" id="sumbit">Продолжить</a>
                </form>
                <style>
                    .beforelogin #content td.column1 {
                        width: 320px;
                    }
                </style>
                <script>
                    $(document).ready(function () {
                        var form = $('form.reg-form');
                        $('.reg-form .submit').click(function () {
                            var email = /^[a-zA-Z0-9._\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,4}$/,
                                    fields = {
                                        'email':$('#recovery_email')
                                    }, flag = 0;

                            form.find('input.error').removeClass('error');
                            form.find('div.error').remove();

                            for (var key in fields) {
                                if (!fields[key].val().length) {
                                    flag = -~flag;
                                    fields[key].addClass('error').after($('<div/>', {
                                        'class':'error',
                                        'text':'Это поле не может быть пустым'
                                    }));
                                }
                            }

                            if (fields.email.val().length > 255) {
                                fields.email.addClass('error').after($('<div/>', {
                                    'class':'error',
                                    'text':'Превышено допустимое количество символов'
                                }));

                                flag = -~flag;
                            } else if (!email.test(fields.email.val()) && fields.email.val().length > 0) {
                                fields.email.addClass('error').after($('<div/>', {
                                    'class':'error',
                                    'text':'Некорректный формат адреса электронной почты'
                                }));

                                flag = -~flag;
                            }

                            if (flag) {
                                return false
                            } else {
                                form.submit();
                            }
                        });
                    });
                </script>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}