{% extends "base_centered.html" %}

{% block message_controls %}
    {% if error %}
        <div class="panel system-msg">
            <p class="text-center">{{ msg }}</p>
        </div>
{#        <style>#}
{#            .beforelogin #content td.column1 {#}
{#                width: 410px;#}
{#            }#}
{#        </style>#}
    {% else %}
        {% if password_set %}
            <div class="panel system-msg">
                <p class="text-center">Пароль успешно изменен.<br>
                    <a href="/">Войти на сайт</a></p>
            </div>
        {% else %}
            <div class="panel setpassword">
                <form action="" method="POST" class="reg-form">
                    {% csrf_token %}
                    <label for="new_password">Новый пароль</label>
                    <input type="password" name="new_password" id="new_password">

                    <label for="new_password_repeat">Повторите пароль</label>
                    <input type="password" name="new_password_repeat" id="new_password_repeat">

                    <input type="hidden" name="save_password">
                    <a class="submit button action" id="sumbit">Сохранить</a>
                </form>
                <style>
                    .beforelogin #content td.column1 {
                        width: 320px;
                    }
                </style>
                <script>
                    $(document).ready(function () {
                        var form = $('form.reg-form');
                        $('.reg-form .submit').click(function () {
                            var email = /^[a-zA-Z0-9._\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,4}$/,
                                    fields = {
                                        'password':$('#new_password'),
                                        'password_repeat':$('#new_password_repeat')
                                    }, flag = 0;

                            form.find('input.error').removeClass('error');
                            form.find('div.error').remove();

                            for (var key in fields) {
                                if (!fields[key].val().length) {
                                    flag = -~flag;
                                    fields[key].addClass('error').after($('<div/>', {
                                        'class':'error',
                                        'text':'Это поле не может быть пустым'
                                    }));
                                }

                            }

                            for (var key in fields) {
                                if (fields[key].val().length < 6 && fields[key].val().length > 0) {
                                    fields[key].addClass('error').after($('<div/>', {
                                        'class':'error',
                                        'text':'Слишком короткий пароль'
                                    }));
                                    flag = -~flag;
                                }
                            }

                            if ($('#new_password', form).val() !== $('#new_password_repeat', form).val()) {
                                $('#new_password_repeat', form).addClass('error').after($('<div/>', {
                                    'class':'error',
                                    'text':'Пароли не совпадают'
                                }));
                                flag = -~flag;
                            }

                            if (flag) {
                                $('input[type="password"]', form).val('');
                                return false
                            } else {
                                form.submit();
                                return false;
                            }
                        });
                    });
                </script>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}