<div class="brackets">
<div class="logged-in">

    <table>
        <tr>
            <td class="ava">
                <a href="<%=employeeProfileUrl%>" title="" class="round">
                    <img src="/media/i/default_man_header.png" alt="" width="38" height="38"/>
                </a>
            </td>
            <td class="name-title">
                <h3>Администратор</h3>
                <h4><%-brandName%></h4>
            </td>
            <!--
            <td class="notifications unread"><span class="num"><a href="" title=""></span></a></td>
            <td class="contractors unread"><a href="" title=""><span>5</span></a></td>
            -->
            <td class="emails"><a href="/chat/" title="Непрочитанные сообщения"><span></span></a></td>
            <td class="exit"><a href="/logout/" title="">Выйти</a></td>
            <!--
            <td class="settings"><a href="" title="Настройки вашего личного профиля">settings</a></td>
            -->
        </tr>
    </table>

</div>
</div>
