<h1>Здравствуйте!</h1>

<p>Компания {{ brand_name }} приглашает вас в деловую сеть Реквизитка</p>

<p style="padding: 20px; border: 1px solid #d3d3d3; background-color: #f0ffff;">{{ text }}</p>

<p><a href="{{ main_page_link }}">Реквизитка</a> создает новую Электронную Экономику. Присоединяйтесь.</p>
<p>Для регистрации в Реквизитке необходимо пройти про ссылке {{ join_url }}</p>

<p style="margin-top: 20px;">N.B. При регистрации вы можете использовать любой адрес электронный почты, не обязательно тот, на который пришло приглашение.</p>

<p style="padding-top: 50px">С уважением, команда Реквизитки</p>
