<table>
    <tr>
        <td class="column1">
            <a href="<%-company_url%>" title="<%-bname%>" class="round tick"><img src="<%-logo%>" width="146" height="73" alt="<%-bname%>"></a>
        </td>
        <td class="column2">
            <h5><a href="<%-company_url%>" title="<%-bname%>"><%-bnamecut%></a></h5>
            <p><%-kind_of_activity%></p>
        </td>
        <td class="column3">
            <% if(own) { %>
                <div class="hover-box">
                    <a class="button action write-a-message" id="corr_<%=corr_id%>">Написать сообщение</a>
                    <a class="button simple partner-edit" id="sett_<%=rek_id%>">Редактировать</a>
                </div>
            <% } %>
        </td>
    </tr>
</table>


