{% extends "layouts/main_with_breadcrumbs.html" %}

{% load i18n %}

{% block title %}Восстановление пароля - Rekvizitka.Ru{% endblock %}

{% block breadcrumbs %}
    <li class="first"><a href="/"><span class="link_text">Rekvizitka.Ru</span><span class="slash">/</span></a></li>
    <li class="last active"><a href="../"><span class="link_text">Восстановление пароля</span><span class="slash">/</span></a></li>
{% endblock %}

{% block content %}
<h2>Восстановление пароля</h2>
{% if not success %}
<p> Введите свой адрес электронной почты для восстановления пароля.</p>
    <form action="" method="post">
    {% csrf_token %}
    {{ form.email.errors }}
    <p>
    <label for="id_email">E-mail логин:</label>
    {{ form.email }}
    <button type="submit"/>Восстановить</button>
    </p>
</form>
{% else %}
<p> Пароль для доступа к вашему аккаунту выслан на указанный вами адрес {% if email %}{{ email }}{% endif %}.</p>
{% endif %}

{% endblock %}